@font-face {
    font-family: CreatoDisplay_Regular;
    src: url(./fonts/CreatoDisplay-Regular.otf);
  }

@font-face {
    font-family: CreatoDisplay_Bold;
    src: url(./fonts/CreatoDisplay-Bold.otf);
  }

html, head, body {
    margin: 0%;
    padding: 0%;
}

p, li, a {
    font-family: CreatoDisplay_Regular;
    margin:0%;
    padding:0%;
}

h1, button {
    font-family: CreatoDisplay_Bold;
    margin:0%;
    padding:0%;
}
.ThreeJSCanvas {
    width: 100%;
    height: 100%;
    margin:0%;
    padding:0%;
    border: none;
    position: fixed;
    z-index: 0;
}