@font-face {
    font-family: CreatoDisplay_Regular;
    src: url(./fonts/CreatoDisplay-Regular.otf);
  }

@font-face {
    font-family: CreatoDisplay_Bold;
    src: url(./fonts/CreatoDisplay-Bold.otf);
  }

html, head, body {
    margin: 0%;
    padding: 0%;
}

p, li, a {
    font-family: CreatoDisplay_Regular;
}

h1 {
    font-family: CreatoDisplay_Bold;
}

.ThreeJSCanvas {
    width: 100%;
    height: 100%;
}