.SpecsPage {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.KeyboardDetails {
    min-height: 100vh;
}

.left {
    float: left;
    width: 45vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    float: right;
    width: 55vw;
}

.DetailsRow {
    margin: 5%;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px;
    border-radius: 1vw;
}

.DetailsRow img {
    width: 15%;
    height: auto;
    float: left;
    margin-right: 5%;
}

.DetailsRow h1{
    font-size:2vw;
}

.DetailsRow p{
    font-size:1vw;
}

.KeyboardDetailsCentered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.grabIcon {
    width: 15%;
    height: auto;
}