.BuyNowPage {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.BuyNow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 50vh;
    width: 40vw;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px;
    border-radius: 1vw;
}